@model MinhasNotas.Models.Grades

@{
    ViewData["Title"] = "Details";
}

<h1>Nota</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nota
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            Data e Hora da Prova
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTest)
        </dd>
        <dt class = "col-sm-2">
            Aluno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class = "col-sm-2">
            Disciplina
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar Disciplina</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
